
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4; 
    margin: 0;
    padding: 0;
  }
  
  /* Header Section */
  .header {
    width: 100%;
    max-width: 400px;
    height: 150.6px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align header text to the left */
    padding-left: 20px; 
    margin-bottom: 30px;
  }
  
  .title {
    font-size: 23.91px;
    font-weight: 700;
    line-height: 31.13px;
    letter-spacing: 0.19922812283039093px;
    text-align: left;
    color: #000;
  }
  
  .loginPrompt {
    font-size: 12px;
    margin-top: 8px;
    color: #525252;
    line-height: 19.5px;
  }
  
  .loginLink {
    color: #525252;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* Form Wrapper (Below Header) */
  .formWrapper {
    width: 90%;
    max-width: 400px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
    padding: 30px;
  }
  
  /* Form Styling */
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .inputField {
    padding: 10px;
    border: 1px solid #ddd;
    height: 51.25px;
    padding: 9.56px 10px;
    border-radius: 12px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
  }
  
  .inputField:focus {
    border-color: #025add;
  }
  
  .SignUpButton {
    background-color: #025add;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .SignUpButton:hover {
    background-color: #0043a6;
  }
  
  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
  
  .line {
    height: 1px;
    background-color: #ccc;
    flex: 1;
    margin: 0 10px;
  }
  
  .dividerText {
    font-size: 14px;
    color: #777;
  }
  
  /* Social Media Icons */
  .socialMedia {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .socialIcon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .socialIcon:hover {
    transform: scale(1.1);
  }
  
  /* New text below the login button */
  .forgotPassword {
    font-size: 14px;
    color: #025add;
    text-align: center;
    cursor: pointer;
    margin: 30px 0;
  }
  
  .forgotPassword:hover {
    text-decoration: underline;
  }
  