.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: #f9f9f9; 
    justify-content: space-between; 
  }
  
  .header {
    width: 100%;
    max-width: 400px;
    height: 150.6px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align header text to the left */
    padding-left: 20px; 
    margin-bottom: 30px;
  }
  
  .title {
    font-size: 23.91px;
    font-weight: 700;
    line-height: 31.13px;
    letter-spacing: 0.19922812283039093px;
    text-align: left;
    color: #025add; 
  }
  
  .description {
    font-size: 12px;
    margin-top: 8px;
    color: #525252;
    line-height: 19.5px;
  }
  
  .imageSection {
    width: 100%;
    margin-top: 40px;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .nextButton {
    display: block; /* Make it behave like a block-level element */
    color: #025add;
    text-align: center;
    text-decoration: none; /* Remove underline for the link */
    padding: 12px 0;
    font-size: 16px;
    border-radius: 20px; 
    border: 2px solid #025add;
    cursor: pointer;
    width: 100%; /* Full width */
    max-width: 300px; 
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .nextButton:hover {
    color: white;
    background-color: #0043a6; 
  }
  