.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f9f9f9; 
  }
  
  .splashImage {
    max-width: 100%;
    height: auto;
  }
  